/TIN-internet-based/materials_and_tasks/TIN_7/task_2/data.txt
/TIN-internet-based/materials_and_tasks/TIN_7/task_3/node_modules
/TIN-internet-based/final_project/tin_project_malinowski_s20824/node_modules