<%-include('./fragments/header.ejs') %>


        <main>
            <h2>What is SHARCit?</h2>
            <div>SHARCit simplifies sharing music for artist and finding that music for users.</div>
            <p>It allows:</p>
                <table class="table-list">
                    <tr>
                        <th>Who?</th>
                        <th>To do what?</th>
                        <th>How?</th>
                    </tr>
                    <tr>
                        <td>Artist</td>
                        <td>to share the music</td>
                        <td>by providing link to the song OR the file itself</td>
                    </tr>
                    <tr>
                        <td>User</td>
                        <td>to find the desirable release</td>
                        <td>by browsing through the SHARCit catalog</td>
                    </tr>
                    <tr>
                        <td>Everyone</td>
                        <td>to connect with each other</td>
                        <td>by providing connection stream</td>
                    </tr>
                </table>

        </main>
        
<%-include('./fragments/footer.ejs') %>