<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="stylesheets/styles.css" type="text/css" />
	<title>SHARCit</title>
</head>
<body>
	<header>
		<h1>Welcome to SHARCit</h1>
		<img src="https://imgs.search.brave.com/pkdgF4hiIv5L1IF42UayisHXo9Whmt0biHuX_WWMm_o/rs:fit:600:600:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2FmLzZj/L2Y5L2FmNmNmOTIx/ODVlMGZhMjIzNGYy/ZDUxYTE1NTM4YWMy/LnBuZw" alt="ShaReCon logo" width="200">
	</header>
	
	<nav>
		<ul>
			<li><a href="/">Main page</a></li>
			<li><a href="">Artists</a></li>
			<li><a href="">Projects</a></li>
			<li><a href="/songs">Songs</a></li>
			<li><a href="about.html">About</a></li>
		</ul>
	</nav>