<%- include('../../fragment/header.ejs') %>

    <main>
        <h2>Client list</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>E-mail</th>
                    <th>Company</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Nadal</td>
                    <td>mark@gun.eco</td>
                    <td>GUN</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="/clients/details/:clientId" class="list-actions-button-details">Details</a>
                            </li>
                            <li>
                                <a href="/clients/edit/:clientId" class="list-actions-button-edit">Edit</a>
                            </li>
                            <li>
                                <a href="" class="list-actions-button-delete">Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Antoni</td>
                    <td>Malinowski</td>
                    <td>antoni.malinowski@sharecon.com</td>
                    <td>ShaReCon</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="/clients/details/:clientId" class="list-actions-button-details">Details</a>
                            </li>
                            <li>
                                <a href="/clients/edit/:clientId" class="list-actions-button-edit">Edit</a>
                            </li>
                            <li>
                                <a href="" class="list-actions-button-delete">Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

        <p><a href="/clients/add" class="button-add">Add new client</a></p>
    </main>
</body>

<%- include('../../fragment/footer.ejs') %>