<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShaReCon</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <header>
        <h1>Welcome to ShaReCon</h1>
        <img src="../images/sharecon-puzzle-1.png" alt="ShaReCon logo" width="300">
    </header>
    
    <nav>
        <ul>
            <li><a href="../../index.html">Main page</a></li>
            <li><a href="../employee/list.html">Employees</a></li>
            <li><a href="../project_/list.html">Projects</a></li>
            <li><a href="list.html" class="active">Clients</a></li>
        </ul>
    </nav>

    <main>
        <h2>Client list</h2>
        <p>No records to display.</p>

        <p><a href="form.html" class="button-add">Add new client</a></p>
    </main>
</body>

<footer>
    <p>Antoni Malinowski s20824</p>
</footer>
</html>