<%- include('../../fragment/header.ejs') %>

    <main>
        <h2>Project details</h2>

        <form class="form">
            <label for="projectName">Name: <span class="symbol-required">*</span></label>
            <input type="text" name="projectName" id="projectName" value="File sharing infrastructure" disabled>
            <span id="errorProjectName"></span>

            <label for="clientName">Client: <span class="symbol-required">*</span></label>
            <select name="clientName" id="clientName" disabled>
                <option>-- Choose client --</option>
                <option value="1" selected>ShaReCon</option>
                <option value="2">GUN</option>
            </select>
            <span id="errorClient"></span>

            <label for="employeeName">Employee: <span class="symbol-required">*</span></label>
            <select name="employee" id="employee" disabled>
                <option>-- Choose employee --</option>
                <option value="1">Brendan Eich</option>
                <option value="2">Linus Torvalds</option>
                <option value="3" selected>Richard Hendricks</option>
            </select>
            <span id="errorEmployee"></span>

            <label for="startDate">Start: <span class="symbol-required">*</span></label>
            <input type="date" name="startDate" id="startDate" value="2026-06-20" disabled>
            <span id="errorStartDate"></span>
            
            <label for="deadline">Deadline: <span class="symbol-required">*</span></label>
            <input type="date" name="deadline" id="deadline" value="2026-10-19" disabled>
            <span id="errorDeadline"></span>
            
            <label for="budget">Budget: <span class="symbol-required">*</span></label>
            <input type="number" name="budget" id="budget" value="2200" min="0" max="1000000000" step="10" disabled>
            <span id="errorBudget"></span>
        </form>

            <div class="form-buttons">
                <a href="/projects/edit/:projectId" class="list-actions-button-edit">Edit</a>
                <a href="/projects" class="list-actions-button-details">Back</a>
            </div>
    </main>
</body>

<%- include('../../fragment/footer.ejs') %>