<!DOCTYPE html>
<html>
<head>
  <title>Result</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Result</h1>
  <p>First Name: <%= data.firstName %></p>
  <p>Last Name: <%= data.lastName %></p>
  <p>Email: <%= data.email %></p>
</body>
</html>
