<%- include('../../fragment/header.ejs') %>

    <main>
        <h2>Employee details</h2>

        <form class="form">
            <label for="firstName">Name: <span class="symbol-required">*</span></label>
            <input type="text" name="firstName" id="firstName" value="Brendan" disabled>
            <span id="errorFirstName"></span>

            <label for="lastName">Surname: <span class="symbol-required">*</span></label>
            <input type="text" name="lastName" id="lastName" value="Eich" disabled>
            <span id="errorLastName"></span>
            
            <label for="email">E-mail: <span class="symbol-required">*</span></label>
            <input type="text" name="email" id="email" value="brendan.eich@sharecon.com" disabled>
            <span id="errorEmail"></span>
            
            <label for="role">Role: </label>
            <input type="text" name="email" id="role" value="Senior Javascript Developer" disabled>
            <span id="errorRole"></span>
        </form>

            <div class="form-buttons">
                <a href="/employees/edit/:empId" class="list-actions-button-edit">Edit</a>
            </div>
            
            <h2>Project details</h2>

            <table class="table-list">
                <thead>
                    <tr>
                        <th>Client</th>
                        <th>Project</th>
                        <th>Start</th>
                        <th>Deadline</th>
                        <th>Budget</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>GUN</td>
                        <td>Node storage optimization</td>
                        <td>2026-06-20</td>
                        <td>2026-10-19</td>
                        <td>$2 200.00</td>
                    </tr>
                    <tr>
                        <td>ShaReCon</td>
                        <td>File sharing infrastructure</td>
                        <td>2023-03-10</td>
                        <td>2023-06-05</td>
                        <td>$13 500.00</td>
                    </tr>
                </tbody>
            </table>
            
            <div class="form-buttons">
                <a href="/employees" class="list-actions-button-details">Back</a>
            </div>
    </main>

<%- include('../../fragment/footer.ejs') %>